body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #1a8766;
   
}

#login_headline{
    text-align: center;
    font-family: ExtraBold;
    font-size: 2.7rem;
    color: #000000;
}
input{
    cursor: pointer;
}
#signup,#guestin,#login{
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vw;
    width: max-content;
    border-radius: 30px; 
    box-shadow: -2px -1px 35px -10px rgba(0,0,0,0.75);
    color: hsla(0, 0%, 0%, 0.705);
}

#guestin-btn{
    display: none;
}

.form-swapper-flex{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}


#guest{
    padding-left: 5vw;
    padding-right: 5vw;
    border-radius: 30px; 
    box-shadow: -2px -1px 35px -10px rgba(0,0,0,0.75);
}


#left-arrow-box,#right-arrow-box{
    display: flex;
    align-items: center;
    margin-left: -1.5vw;
    margin-right: -1.5vw;
}

#left-arrow, #right-arrow {
    width: 8vw;
    cursor: pointer;
    -webkit-user-drag: none;
}
.arrow{
    opacity: 0.5; 
    transition: ease opacity 0.7s;
}
.arrow:hover{
    opacity: 1; 
}


#signup-grid{
    display: flex;
    gap: 4vw;
    justify-content: center;
    margin-bottom: 1vw;
    align-items: center;
} 

.input{
    color: #1a8766;
    font-family: BoldItalic;
    font-size: 20px;
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 5px; 
    width: 12vw;
    padding: 0.5vw;
    justify-content: center;
    transition: ease width .4s;
    border: 1px solid #1a876667;  
    color: #000000;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

#submit{
    width: 12vw;
    padding: 0.5vw;
    display: block;
    font-size: 1.5rem;
    font-family: ExtraBold;
    cursor: pointer;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);  
    color: white;
    border-radius: 5px;
    background-color: #1a8766;
    border: none;
    margin: auto;
    box-shadow: -2px -1px 20px -10px rgba(0,0,0,0.75);
}

input[type="file"]{
    display: none;
    visibility: none;
    cursor: pointer;
}

.file_image{
    cursor: pointer;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    border: #1a876698 5px solid;
    opacity: 0.4;
    box-shadow: -2px -1px 15px -10px rgba(0,0,0,0.75);
    -webkit-user-drag: none;
}
#guest-icon,#login-icon{
    width: 12vw;
    height: 12vw;
    opacity: 0.4;
    -webkit-user-drag: none;
    cursor: pointer; 
    transition: ease opacity .7s;


}
#guest-icon:hover{
    opacity: 1;
}

.guest-login-wrapper{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
   
}
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #1a876657;
    font-family: BoldItalic;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #1a876657;
    font-family: BoldItalic;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #1a876657;
    font-family: BoldItalic;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #1a876657;
    font-family: BoldItalic;
  }

.input:focus{
    outline: none;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
}


#input-box{}

#image-selector{
   text-align: center;
   font-size: 5rem;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   align-items: center;
}
.bottom-box{
   
    margin-top: auto;
}
.no-select {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
  }

  .no-drag{
    -webkit-user-drag: none;
  }

@font-face {
    font-family: Black-Pure;
    src: url('../font/source-sans-pro/SourceSans3-Black.ttf');
}
@font-face {
    font-family: BlackItalic;
    src: url('../font/source-sans-pro/SourceSans3-BlackItalic.ttf');
}
@font-face {
    font-family: ExtraBold;
    src: url('../font/source-sans-pro/SourceSans3-ExtraBold.ttf');
}
@font-face {
    font-family: BoldItalic;
    src: url('../font/source-sans-pro/SourceSans3-BoldItalic.ttf');
}
@font-face {
    font-family:ExtraBoldItalic;
    src: url('../font/source-sans-pro/SourceSans3-ExtraBoldItalic.ttf');
}
